#control-panel {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
#format-actions {
    float: left;
    text-align: center;
    position: relative;
    width: 600px;
}
.format-action {
    float: left;
    padding: 9px;
    display: block;
    margin-right: 6px;
    font-family: 'Arial';
    font-size: 14px;
}
.select-synonym {
    float: left;
    width: 200px;
    font-family: 'Arial';
    text-align: left;
}

.list {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 50%;
    right: 20px;
    margin: 0;
    padding: 0;
    border: 2px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
    width: 200px;
    height: 300px;
    background: #ccc;
}
.list-items {
    margin: 0;
    padding: 0;
    overflow: scroll;
    height: 280px;
}
.list-item {
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.list-item:last-child {
    border-bottom: none;
}
.list-item:nth-child(even) {
    background: #f8f8f8;
}
.btn-syn {
    display: block;
    padding: 10px 20px;
    width: 100%;
    background: transparent;
    cursor: pointer;
    border: none;
    text-align: left;
}